:root {
  --background-color: #e5e5e5;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Grotesk", sans-serif;
  background-color: white;
  margin: 40px;
  padding: 0;
}

.container {
  font-family: "Space Grotesk", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.hero {
  background-image: url(/media/Skate_1080p.jpg);
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 700;
  z-index: 1;
}

.hero-text {
  opacity: 0;
}

.hero-wrap {
  background-color: black;
  opacity: 0.4;
}

.hero h1 {
  font-size: 360px;
  line-height: 360px;
  margin-left: 40px;
}

.hero h2 {
  font-size: 160px;
  line-height: 130px;
  margin-top: 230px;
  margin-left: 40px;
  padding: 0;
}

hr {
  width: 44px;
  color: black;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 60px;
}

.intro {
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
  text-transform: lowercase;
}

.logo {
  margin-top: 35px;
  margin-left: 40px;
}

.main-title {
  font-size: 110px;
  font-weight: 700;
  line-height: 100px;
  margin-top: 133px;
  text-transform: lowercase;
}

.media-control {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  z-index: 2;
  margin-top: -5%;
  margin-left: 90.5%;
}
