body {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

header h1 {
  font-size: 18rem;
  line-height: 18rem;
  font-weight: 700;
  margin: 0;
  margin-left: 1.5rem;
}

header h2 {
  font-size: 8rem;
  line-height: 6rem;
  margin: 11rem 0 0 2rem;
  font-weight: 700;
}

hr {
  width: 44px;
  height: 5px !important;
  color: black;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 60px;
}

html {
  font-family: "Space Grotesk", sans-serif;
  background-color: white;
  margin: 40px;
  padding: 0;
}

#heroVideo {
  position: relative;
  width: 100%;
  height: auto;
}

.container {
  font-family: "Space Grotesk", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: -20px;
}

.hero-text {
  position: absolute;
  margin-top: 35px;
  margin-left: 40px;
  color: white;
  z-index: 3;
}

.hero-wrap {
  position: absolute;
  margin-top: 35px;
  margin-left: 40px;
  color: white;
  z-index: 3;
}

.intro {
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 34px;
  text-transform: lowercase;
}

.logo {
  margin-top: 35px;
  margin-left: 40px;
  position: absolute;
  z-index: 3;
}

.main-title {
  font-size: 110px;
  font-weight: 700;
  line-height: 100px;
  margin-top: 133px;
  text-transform: lowercase;
}

.media-control {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  margin-top: -1rem;
  margin-left: 76rem;
}

@media (max-width: 992px) {
  header h1 {
    font-size: 7rem;
    line-height: 7rem;
    margin-left: 1.6rem;
  }
  header h2 {
    margin-top: 25rem;
    font-size: 3rem;
    line-height: 2.5rem;
  }
  hr {
    width: 28px;
    height: 3px !important;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  html {
    margin: 20px;
  }
  .intro {
    margin-top: 50px;
    font-size: 16px;
    line-height: 28px;
  }
  .main-title {
    margin-top: 74px;
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .hero-text {
    margin-left: 20px;
  }
  .logo {
    margin-top: 15px;
    margin-left: 20px;
    max-width: 86px;
    height: auto;
  }
  .media-control {
    margin-top: -10rem;
    margin-left: 25rem;
  }
}
